*_i.c
*_p.c
*_i.h
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc
.vs
MyBin
ClassLibrary\bin
ClassLibrary/bin
ClassLibrary\obj
ClassLibrary/obj
OpeningHoursTask\bin
OpeningHoursTask/bin
OpeningHoursTask\obj
OpeningHoursTask/obj